// Here you can add other styles

/*
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
*/

@mixin img-logo() {
  width: 16.5vw;
  min-width: 12rem;
  height: auto;

  @media screen and (min-width: 768px) {
    min-width: 15rem;
  }

  @content;
}
@mixin logo-margin() {
  @media screen and (min-width: 768px) {
    margin-left: 2rem;

    @media screen and (min-width: 1024px) {
      margin-left: 4rem;

      @media screen and (min-width: 1440px) {
        margin-left: 4vw;
      }
    }
  }
}

.color-primario {
  color: $color-primario !important;
}
.text-bold {
  font-weight: bold;
}
.text-medium {
  font-size: medium;
}
.color-gris-mas-oscuro {
  color: $color-gris-mas-oscuro !important;
  font-weight: bold;
}

.flexed1 {
  flex: 1;
}
.input-gordo {
  position: relative;

  input:focus {
    box-shadow: 0 0 0 0.2rem $color-secundario-sh !important;
  }

  .invalid-feedback {
    @media screen and (min-width: 768px) {
      position: absolute;
      right: 0;
      width: auto;
      bottom: -1.1rem;
    }
  }
}

.color-secundario {
  color: $color-secundario !important;
}

// Asterisco de required
.form-check.required {
  &::before {
    position: relative;
    left: 0rem;
  }

  input {
    &.form-check-input {
      margin-left: 0rem;
    }

    & + .form-check-label {
      margin-left: -0.75rem;
    }
  } 
}

.form-check.required,
label.required {
  &::before {
    color: $color-error;
    content: "* ";
    display: inline;
  }
}

.card {
  border-radius: 30px !important;
  background-color: transparent;
}

.error-mensaje {
  color: $color-error;
}

.text-mensaje-error{
  text-align: center;
  margin-bottom: 1rem;
}

//CLASE PARA LOS BOTONES
.btn-form {
  background-color: $color-primario;
  color: #fff;
  width: 25%;
  margin: auto;
}
//COLOR PARA LOS MODALES

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.card-header:first-child + div {
  background-color: #fff;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-top: 0px !important;
}

.card-header {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  padding-inline: 0 !important;
}
.card-header:not(.no-pad-b) {
  padding-block: 1.25rem !important;

  @media screen and (min-width: 992px) {
    padding-block: 1rem !important;
  }
}
.card-body {
  @media screen and (min-width: 992px) {
    padding-left: 0.5rem !important;
  }
}

.click-file {
  cursor: pointer;
}

#cropp-img-img {
  max-width: 500px;
  max-height: 500px;
}

// ESTILOS DEL HEADER
.c-header {
  background-color: $color-primario;
}

.modal-header {
  background-color: $color-primario !important;
  height: 10rem !important;
}
.bg-dark {
  background-color: #fff !important;
}

// SIDEBAR
.c-sidebar-nav {
  background-color: $color-primario;
  margin: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 35px;
}

.c-sidebar .sidebar-brand-container,
header.c-header:not(.card-header) {
  &.sidebar-brand-container {
    background-color: $color-primario;
    min-height: $height-header-sm;
    // -webkit-box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.35);
    // -moz-box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.35);
    // -o-box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.35);
    // box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.35);

    @media screen and (min-width: 768px) {
      min-height: $height-header-md;

      @media screen and (min-width: 1440px) {
        min-height: $height-header-xl;
      }
    }
  }

  .c-sidebar-brand {
    background: transparent !important;
    height: 100%;
    justify-content: flex-start;
    @include logo-margin();

    img {
      margin-top: -0.45rem;

      @include img-logo {
        @media screen and (min-width: 992px) {
          min-width: 12rem;
          margin-bottom: 0.75rem;
          margin-top: 0.45rem;

          @media screen and (min-width: 1440px) {
           width: 14vw;

           @media screen and (min-width: 1800px) {
            width: 13vw;
            margin-bottom: 0.9rem;
           }
          }
        }
      }
    }
  }
}

.c-sidebar .c-sidebar-nav-link {
  color: #fff;
}
@media screen and (max-width: 991px) {
  .btn-form {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .c-sidebar-nav {
    max-height: none;
    padding: 2em 0 0 0;
    border-radius: 0px;
    margin: 0px;
  }
}

.botonesP {
  background-color: #fff !important/* $color-primario !important */;
  color: $color-primario!important;
  text-align: left !important;
  font-family: $fuente-principal;
  // font-style: oblique;
  font-style: normal;
  span {
    // font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}

#hovers {
  a:hover {
    background-color: $color-primario !important;
  }
}

// WIZZARD
.stepTitle {
  font-weight: bold;
  font-style: oblique;
  font-family: $fuente-principal;
}
.stepTitle.active {
  color: #000 !important;
  font-weight: bold;
  font-style: oblique;
  font-family: $fuente-principal;
}

.vue-form-wizard.md .wizard-icon-circle {
  width: 80px !important;
  height: 80px !important;
  font-size: 50px !important;
}

// SLIDER TICKETS
.card-header {
  border-bottom: 0px !important;
}
.font-number h4 {
  font-weight: bold;
}

// HEADER
.home.login-view .navbar-toggler {
  display: none !important;
}
header:not(.card-header) {
  border: none !important;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);

  &.c-header {
    -webkit-box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.35);
  }

  z-index: 1;
  height: $height-header-sm;
  border-radius: 0 !important;

  @media screen and (min-width: 768px) {
    height: $height-header-md;

    @media screen and (min-width: 1024px) {
      position: sticky !important;
      top: 0;

      @media screen and (min-width: 1440px) {
        height: $height-header-xl;
      }
    }
  }

  .container-header {
    width: 100%;
    @include logo-margin();

    img {
      @include img-logo();

      @media screen and (max-width: 767px) {
        margin-inline: auto;
        margin-bottom: 0.75rem;
      }
    }
  }
}

@mixin redirectElse($color) {
  color: $color;
  text-decoration: underline;

  @media screen and (min-width: 1440px) {
    font-size: 1vw;
    margin-right: 0.55vw;
  }

  &:focus-visible {
    outline: none;
    text-shadow: 0px 3px 6px rgb(0, 0, 0);
  }

  &:hover {
    color: $color;
  }
}

.redirect-else {
  @include redirectElse($color-primario);
}

// FORMS
@mixin form-mix($color, $applyErrStyles: false) {
  .redirect-elsewhere {
    @include redirectElse($color);
  }
  .form-group {
    .input-group {
      .input-group-prepend {
        span {
          height: fit-content;
          align-self: center;
          background: transparent;
          border-radius: 50px !important;
          padding: 0.3rem;
          border-width: 2px;
          border-color: $color;

          @media screen and (min-width: 1024px) {
            padding: 0.4rem;

            @media screen and (min-width: 1440px) {
              padding: 0.4vw;
            }
          }

          svg {
            width: 1.5rem;
            height: 1.5rem;

            @media screen and (min-width: 1024px) {
              width: 2rem;
              height: 2rem;

              @media screen and (min-width: 1440px) {
                width: 1.5vw;
                height: 1.5vw;
              }
            }

            path {
              fill: $color;
            }
          }
        }
      }

      input,
      select {
        background: transparent;
        border: none;
        border-bottom: 1px solid $color;
        border-radius: 0;
        padding-inline: 0;
        margin-left: 0.85rem;
        padding-bottom: 1rem;
        padding-top: 0.25rem;
        color: $color;
        font-size: 1.25rem;
        font-style: italic;

        &::placeholder {
          color: $color;
          opacity: 1;
        }
        &::-ms-input-placeholder {
          color: $color;
        }

        &:focus {
          box-shadow: none;
        }

        @media screen and (min-width: 1440px) {
          font-size: 1.4vw;
          padding-top: 0;
        }

        option {
          color: $color-primario;
        }
      }
    }

    @if $applyErrStyles {
      .invalid-feedback {
        font-size: 85%;
        color: #ff6c6c;
        position: absolute;
        bottom: -1.25rem;
        text-align: right;
        font-weight: bold;
      }
    }
  }
}

.color-white {
  @include form-mix(#fff, true);
}
.color-blue {
  @include form-mix($color-primario);
}

//ESTILO PARA MODALES

// .swal2-popup{
//   padding: 0px !important;
//   font-size: 1rem !important;
//   box-shadow: 0px 10px 10px 8px #505050;
// }
// .swal2-header{
//   background-color: $color-primario;
//   padding: 0 0 !important;
// }
// .swal2-success-circular-line-left{
//   background-color: $color-primario !important;
// }
// .swal2-success-circular-line-right{
//   background-color: $color-primario !important;
// }
// .swal2-icon.swal2-success .swal2-success-fix{
//   background-color: $color-primario !important;
// }
// .swal2-success-ring{
//   border: 0.25em solid #ebedef !important;
// }
// .swal2-icon.swal2-success{
//   color: #fff !important;
// }
// .swal2-actions{
//   display: none !important;
// }
// .swal2-content{
//   background-color: #044ebd;
//   color: #fff !important;
//   font-size: 4rem !important;
//   font-weight: bold !important;
//   padding: 3rem !important;
// }
// .swal2-icon.swal2-success [class^='swal2-success-line']{
//   background-color: #fff !important;
// }

.c-app {
  // background-image: url("~@/assets/img-home/bubles.png"), url("~@/assets/img-home/bubles.png");
  background-color: #fff/* #1142a3 */;
  // background-repeat: no-repeat;
  // background-position: bottom -9.5rem left -12.6rem, top calc(-10.5rem + #{$height-header-sm}) right -11.6rem;
  // background-size: 25rem;

  /* @media screen and (min-width: 768px) {
    background-position: bottom -17rem left -22.6rem, top calc(-18.5rem + #{$height-header-md}) right -20.6rem;
    background-size: 45rem;

    @media screen and (min-width: 1024px) {
      background-position: bottom -21.5vw left -28vw, top calc(-23.5vw + #{$height-header-md}) right -26vw;
      background-size: 56.5vw;

      @media screen and (min-width: 1440px) {
        background-position: bottom -19vw left -24.5vw, top calc(-20.75vw + #{$height-header-xl}) right -23vw;
        background-size: 49.5vw;
      }
    }
  } */
}

.card {
  border: none;
}

.set-color-primary {
  background-color: $color-primario !important;
  border-color: $color-primario !important;
  color:white;

  svg {
    color: $color-primario !important;
  }

  &.isWhite svg {
    color: #fff !important;
  }
}

.set-color-secundary {
  background-color: $color-secundario !important;
  border-color: $color-secundario !important;
  color:white;
}
.set-color-secundary.btn-sm{
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.plane-btn-style {
  display: none !important;

  @media screen and (min-width: 768px) {
    display: contents !important;
  }

  svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  &.theLeft svg {
    transform: rotate(231deg) translateY(-2px);
    margin-right: 0.5rem;
  }
  &.theRight svg {
    transform: rotate(48deg) translateY(-2px);
    margin-left: 0.5rem;

    @media screen and (orientation: portrait) and (max-width: 350px) {
      transform: rotate(48deg) translateY(10px);
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: 460px) {
  .vue-form-wizard .navbar .navbar-nav>li>a.wizard-btn, .vue-form-wizard .wizard-btn {
    min-width: 100px !important;
  }
}

.remove-prepend-style {
  .input-group {
    .input-group-prepend {
      .input-group-text {  
        padding: 0;
        padding-left: 0.75rem;
        background: #fff;
  
        .form-group {
          margin: 0;
  
          select {
            border: none;
            height: auto;
            border-radius: 0;
            padding-left: 0;

            &:focus {
              box-shadow: none;
            }

            &:focus-visible {
              outline: none;
            }
          }
        }
      }
    }
  }
}

.two-inputs-wrapper {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 40%;
    margin-inline: 1rem;

    @media screen and (min-width: 1200px) {
      margin-inline: 2rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .two-inputs-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .two-inputs-right {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: 0 !important;
  }
}

.flicking-arrow-prev.is-outside {
  @media screen and (max-width: 1100px) {
    left: -42px !important;

    @media screen and (max-width: 575px) {
      left: -12px !important;
    }
  }
}

.flicking-arrow-next.is-outside {
  @media screen and (max-width: 1100px) {
    right: -42px !important;

    @media screen and (max-width: 575px) {
      right: -12px !important;
    }
  }
}

.flicking-arrow-prev.is-outside,
.flicking-arrow-next.is-outside {
  @media screen and (max-width: 1100px) {
    top: 60%; 

    @media screen and (max-width: 575px) {
      transform: scale(0.5);
    }
  }
}

.form-color-blue {
  color: black !important;
  font-weight: 600 !important;
  text-align: left;
}

.close{
  opacity: 1;
  color: #fff;
}
.close:hover{
  opacity: 1;
  color: #fff;
}

.botones-tabla{
  justify-content: end;
  align-items: center;
  height: calc(1.5em + 0.8rem + 8px) !important;
  margin-left: auto;
  padding: 0;
}

.text-btn{
  display: block;
}

@media screen and (max-width:767px) {
  .margin-top-date{
    margin-top: 1rem;
  }
}

@media screen and (max-width:320px) {
  .text-btn{
    display:none;
  }
}

@media screen and (max-width: 1200px) {
  .botones-tabla{
    justify-content: center;
    align-items: center;
  }
}

.flicking-camera{
	display: flex !important;
}

.the-scratchable-container-wrapper {
  max-height: 43rem;
  height: 43rem;
}

@media (min-width: 992px) and (min-width: 992px){
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-xl ~ .c-wrapper{
    margin-left: 0px !important;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper{
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 992px){
  .logo-none{
    display: none;
  }
  .sub-menu-none{
    display: none;
  }
}

@media screen and (min-width: 768px){
  .container-fluid{
    margin-top: 30px;
  }
}

// NEW
.box-shadow-down {
  -webkit-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
}

$box-shadow-tg: 0 0 4px 3px rgba(0, 0, 0, 0.15);
.shadow-tg {
  -moz-box-shadow: $box-shadow-tg;
  -o-box-shadow: $box-shadow-tg;
  -webkit-box-shadow: $box-shadow-tg;
  box-shadow: $box-shadow-tg;
}

.btn-fall-1 {
  @include btnFall1;
}
.btn-fall-2 {
  @include btnFall2;
}
.btn-fall-gray {
  @include btnFallGray;
}
.btn-fall-secondary {
  @include btnFallSecondary;
}

$layout-w: 2000;
@mixin layoutMain ($w:false, $pl:false, $pr:false) {
  // display: flex !important;
  // flex-direction: row !important;
  // flex-wrap: wrap !important;
  // flex-shrink: 0 !important;
  // width: 100% !important;
  @media screen and (min-width: 993px) {
    @if $w {
      width: 100% !important;
    }
    @if $pl {
      padding-left: 2rem !important;
      @media screen and (min-width: 1400px) {
        padding-left: 3.5rem !important;
      }
      @media screen and (min-width: #{$layout-w + 1}px) {
        padding-left: calc(50% - #{$layout-w / 2}px + 4rem) !important;
      }
    }
    @if $pr {
      padding-right: 2rem !important;
      @media screen and (min-width: #{$layout-w + 1}px) {
        padding-right: calc(50% - #{$layout-w / 2}px + 2.5rem) !important;
      }
    }
  }
  // height: inherit !important;
}
.layout-main {
  @include layoutMain(true, true, true);
}

@mixin dot-ball ($color) {
  width: 6px;
  background: $color;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}
.blue-ball {
  @include dot-ball($color-secundario);
}
.black-ball {
  @include dot-ball(#131313);
}

.text-black {
  color: #131313 !important;
}

.border-grey-botton{
  border-bottom: 1px solid $color-gris-semi-oscuro !important;
}
@mixin borderGreyGrl {
  width: 82%;
  margin: 3rem auto;
  -moz-box-shadow: $box-shadow-tg;
  -o-box-shadow: $box-shadow-tg;
  -webkit-box-shadow: $box-shadow-tg;
  box-shadow: $box-shadow-tg;
  border-radius: 5px !important;
  padding: 1rem;
  
  @media screen and (min-width: 768px) {
    padding: 2rem;
  }

  @content;
}
.border-grey-general {
  @include borderGreyGrl;
}
.border-grey-general-semi-fluid {
  @include borderGreyGrl {
    width: 100%;
    
    @media screen and (min-width: 768px) {
      padding: 3rem;
    }
  }
}
.border-grey-general-fluid {
  @include borderGreyGrl {
    width: 100%;
    box-shadow: none;
    margin: 0 auto;
    padding: 1rem 0;
  
    @media screen and (min-width: 768px) {
      padding: 2rem 0;
    }
  }
}
.text-blue-center{
  color: $color-primario;
}

.mr-5r {
  margin-right: 5rem !important;
}
.h-2-5r {
  height: 2.5rem !important;
}
.w-7r {
  width: 7rem !important;
}
.w-18r {
  width: 18rem !important;
}
.w-40 {
  width: 40% !important;
}
.w-80 {
  width: 80% !important;
}

.w-md-7r {
  @media screen and (min-width: 768px) {
    width: 7rem !important;
  }
}
.mr-lg-5r {
  @media screen and (min-width: 992px) {
    margin-right: 5rem !important;
  }
}
.w-lg-18r {
  @media screen and (min-width: 992px) {
    width: 18rem !important;
  }
}
.w-lg-40 {
  @media screen and (min-width: 992px) {
    width: 40% !important;
  }
}
.w-lg-80 {
  @media screen and (min-width: 992px) {
    width: 80% !important;
  }
}
.w-lg-100 {
  @media screen and (min-width: 992px) {
    width: 100% !important;
  }
}
.w-only-small-100 {
  @media screen and (max-width: 767px) {
    width: 100% !important;
  }
}
// .form-control {
//   height: calc(1.5em + 0.75rem + 6px) !important;
// }
.as-grid {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.5rem));
    column-gap: 1rem;

    a {
      text-align: center;
    }
  }
}
.form-contenedor{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

//estilos de la tabla
.page-item.disabled .page-link {
  border-color: transparent !important;
}
.page-item.active .page-link {
  color: #0a0d60 !important;
  font-weight: bold !important;
  background-color: #fff !important;
  border-color: transparent !important;
}
.page-link {
  color: #d8dbe0 !important;
  background-color: #fff !important;
  border-color: transparent !important;
  font-weight: bold !important;
}
.th-table{
  color: #0a0d60;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
}
.head-table{
  background-color: #bcdaf9;
}
.td-table{
  font-size:1rem;
  padding: 0.5rem 0.5rem !important;
}
.text-no-table{
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 3;
  color: #4f5d73;
  @media screen and (max-width: 992px) {
    font-size: 1rem;
  }
}
.pagination-margin{
  margin-top:1rem !important;
}

.scroll-table{
    overflow: scroll;
}
.selected-tg-table {
  border: 1px solid #d8d8d8;
  box-shadow: 5px 5px 5px 0px #d8d8d8;

  :deep(thead) {
    position: sticky;
    top: -1px;

    tr {
      background: $color-gris;

      th {
        width: 10%;
        padding: 0.25rem 0.5rem;
        
        &:not(:last-child) {
          border-right: 1px solid $color-gris-semi-oscuro;
        }

        &:first-child {
          width: 1.5rem;
        }
        &:nth-child(2) {
          width: calc(50% - 1.5rem);
        }
        &:nth-child(3) {
          width: 17%;
        }
        &:nth-child(4) {
          width: 13%;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background: $color-gris-claro;
      }
      
      td {
        padding: 0.25rem 0.5rem;

        &:not(:last-child) {
          border-right: 1px solid $color-gris;
        }
      }
    }
  }
}
// .form-group {
//   margin-bottom: 0rem !important;
// }

.scroll-table {
  border-radius: 5px !important;
}

.welcome-text-container .btn{
  color: #fff !important
}

.anchor-disabled {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
}