// Variable overrides
//FUENTES
$fuente-principal: 'Red Hat Display', sans-serif;
$fuente-secundaria: 'Baloo 2', cursive;
// COLORES
$color-primario: #000 /* rgb(0, 24, 114) */; /*AZUL OSCURO*/
$color-primario-tr: rgba(0, 24, 114, 0.75);
$color-secundario: rgb(17,82,209); /*azul claro*/
$color-secundario-tr: rgba(17,82,209, 0.5);
$color-secundario-sh: rgba(17,82,209, 0.25);
$color-terciario: rgb(255,161,25); /*AMARILLO*/
$color-terciario-tr: rgba(255, 161, 25, 0.25);
$color-error: rgb(209, 12, 12);
$color-pollito: rgb(255, 255, 0); /*AMARILLO POLLITO*/
$color-pollito-2: rgb(255, 216, 22);
$color-pollito-2-tr: rgba(255, 216, 22, 0.25);
$fondo-primario: rgb(20,61,25); /*VERDE*/
$fondo-secundario: rgb(69,64,156); /*MORADO*/
$color-blue-black: rgb(25, 26, 32);
$color-gris: rgb(216, 216, 216);
$color-gris-claro: rgb(244, 244, 244);
$color-gris-semi-oscuro: rgb(195, 195, 195);
$color-gris-semi-oscuro-tr: rgba(195, 195, 195, 0.25);
$color-gris-oscuro: rgb(121, 121, 121);
$color-gris-mas-oscuro: rgb(125, 125, 125);

$height-header-sm: 7.25rem;
$height-header-md: 8rem;
$height-header-xl: 7vw;

$responsive: (
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1440,
  xxxl: 2000
);

// FUNCTIONS
@function iffer($condition, $if-value, $else-value) {
  @if $condition {
      @return $if-value;
  } @else {
      @return $else-value;
  }
}

@function sizer($map, $size) {
  $is-size: map-has-key($map, $size);
  $size-transformated: iffer($is-size, map-get($map, $size), $size);
  @return $size-transformated;
}

// MIXINS
@mixin mediaquery($size, $dir: 'min', $orientation: '', $other-size: 'sm') {
  $with-orientation: iffer($orientation == 'landscape' or $orientation == 'portrait', ' and (orientation: #{$orientation})', '');
  $limitter: iffer($dir == 'min', $dir, 'max');
  $size-transformed: sizer($responsive, $size);
  $current-size: iffer($dir == 'min', $size-transformed, ($size-transformed - 1));
  $other-size-transformed: sizer($responsive, $other-size) - 1;
  $with-other-size: iffer($other-size == 'sm', '', ' and (max-width: #{$other-size-transformed}px)');

  @media screen#{$with-orientation}#{$with-other-size} and (#{$limitter}-width: #{$current-size}px) {
    @content;
  }
}

@mixin customBtnConstr ($color-tr, $color, $color-text: null) {
    @if $color-text {
      color: $color-text !important;
    }
    @else {
      color: $color-primario !important;
    }
    font-weight: 600;
    background: $color !important;
  
    &:focus {
      -o-box-shadow: 0 0 0 0.2rem $color-tr !important;
      -moz-box-shadow: 0 0 0 0.2rem $color-tr !important;
      -webkit-box-shadow: 0 0 0 0.2rem $color-tr !important;
      box-shadow: 0 0 0 0.2rem $color-tr !important;
    }
}

@mixin btnFall1 {
    @include customBtnConstr($color-pollito-2-tr, $color-pollito-2);
}
@mixin btnFall2 {
    @include customBtnConstr($color-terciario-tr, $color-terciario);
}
@mixin btnFallGray {
    @include customBtnConstr($color-gris-semi-oscuro-tr, $color-gris-semi-oscuro, $color-gris-mas-oscuro);
}
@mixin btnFallSecondary {
  @include customBtnConstr($color-secundario-sh, $color-secundario, #fff);
}

@mixin beforeContent ($color) {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: $color;
  border-radius: 2px;
  z-index: 0;
  @content;
}

@mixin afterContent {
  content: "";
  position: absolute;
  border: 3px solid #fff;
  z-index: 0;
  width: 10px;
  border-top-width: 0;
  border-right-width: 0;
  height: 5px;
  transform: rotate(-50deg);
  @content;
}

@mixin input4check {
  width: 1rem;
  height: 1rem;
  z-index: 1;
  opacity: 0;
  @content;
}

@mixin openTriple {
  position: relative;
  display: block;

  .ticket-code-highlight{
    position: absolute;
    bottom: 2.1rem;
    right: 0.6rem;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    width: 2.6rem;

    span {
      color: $color-blue-black;
      font-size: 1rem;
      font-weight: 800;
      text-align: center;
    }

    @content;
  }
}