<template>
  <div class="text-center">
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
      <CCard>
        <CCardBody class="overflow-auto the-scratchable-container-wrapper">
          <scratchTicket
            :ticketImg="theTicketImg"
            :imageUrl="theImages"
            :ticketData="theData"
            typeComp="div"
            :showZoom=false
          />
        </CCardBody>
      </CCard>
  </div>
</template>
<script>
import scratchTicket from '@/components/scratch-ticket.vue';
import General from '@/_mixins/general';

//DATA
function data() {
  return {
    // VARIABLES
    Loading: false,
    tituloModal: 'TICKET',
    theTicketImg: null,
    theImages: [],
    theData: null,
    dataModalObject: {},
    codigoSorteo: '',
    urlSorteo: '',
    fechaSorteo: '',
    codigo:'',
    showButtonShareWs: false,
  };
}

export default {
  name: 'urlTicket',
  mixins: [General],
  components: { scratchTicket },
  data,
  methods: {},
  mounted() {
    this.theTicketImg = this.$route.query.image

    const modal = {
        codigo: this.$route.query.codigo,
        codigoSorteo: this.$route.query.codigoSorteo,
        colorBorde: this.$route.query.colorBorde,
        estatusInstantaneo : this.$route.query.estatusInstantaneo,
        estatusParMil: this.$route.query.estatusParMil,
        estatusSuperDup: this.$route.query.estatusSuperDup,
        estatusTripleTer: this.$route.query.estatusTripleTer,
        fechaCompra: this.$route.query.fechaCompra,
        fechaSorteo: this.$route.query.fechaSorteo,
        instantaneo: this.$route.query.instantaneo,
        montoCarton: this.$route.query.montoCarton,
        numeroFactura: this.$route.query.numeroFactura,
        parMillonarioA: this.$route.query.parMillonarioA,
        parMillonarioB: this.$route.query.parMillonarioB,
        superDupleta1:  this.$route.query.superDupleta1,
        superDupleta2:  this.$route.query.superDupleta2,
        superDupleta3:  this.$route.query.superDupleta3,
        tripleAbierto:  this.$route.query.tripleAbierto,
        tripleTerminalA:  this.$route.query.tripleTerminalA,
        tripleTerminalB:  this.$route.query.tripleTerminalB,
        tripleTerminalC:  this.$route.query.tripleTerminalC,
        urlSorteo: this.$route.query.urlSorteo  
        }
    const ticket = this.getTicketData(modal);
    this.theTicketImg = ticket.image;
    this.theImages = ticket.images;
    this.theData = ticket.ticket;
  },
  props: {
    modal: null,
    actualizarTickets: Function,
  },
};
</script>
<style scoped>
.custom-cursor {
  cursor: pointer;
}
</style>

<style lang="scss">
.winner-alert-title,
.winner-alert-html {
  text-shadow: 1px 1px 6px rgb(0, 0, 0);

  &.winner-alert-title {
    color: #fff !important;
    font-size: 13vw !important;

    @media only screen and (orientation: portrait) and (min-width: 601px) {
      font-size: 8vw !important;

      @media only screen and (min-width: 792px) {
        font-size: 6vw !important;
      }
    }
    @media only screen and (orientation: landscape) {
      font-size: 4vw !important;

      @media only screen and (min-width: 2350px) {
        font-size: 3vw !important;
      }
    }
  }

  &.winner-alert-html p {
    color: $color-pollito !important;
    font-size: 9vw !important;

    @media only screen and (orientation: portrait) and (min-width: 601px) {
      font-size: 6vw !important;

      @media only screen and (min-width: 792px) {
        font-size: 5vw !important;
      }
    }
    @media only screen and (orientation: landscape) {
      font-size: 3vw !important;

      @media only screen and (min-width: 2350px) {
        font-size: 2vw !important;
      }
    }
  }
}

.winner-alert-btn {
  padding-inline: 3rem;
  background: $color-secundario !important;

  &:focus {
    box-shadow: none !important;
  }
}
</style>
