<template>
 <div style="display: flex; flex-direction: column; height: 100vh;">
    <Header />
    <div style="flex: 1; justify-content: center; align-items: center;">
      <div class="text-center">
        <CCard>
          <CCardBody class="overflow-auto the-scratchable-container-wrapper">
            <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
            <scratchTicket
              :ticketImg="theTicketImg"
              :imageUrl="theImages"
              :ticketData="theData"
              :actualizarPadre="actualizarTickets"
            />
            <div sm="12" class="mt-3 datos-estilo" v-if="this.cedula">
              <h4 class="color-primario">Id del cliente: {{ this.cedula }}</h4>
            </div>
          </CCardBody>
        </CCard>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import scratchTicket from "@/components/scratch-ticket.vue";
import General from "@/_mixins/general";
import Footer from "@/components/Footer.vue";

function data() {
  return {
    data_carton: [],
    theTicketImg: null,
    theImages: [],
    theData: null,
    cedula: "",
    Loading: false,
  };
}

function loginSystem() {
    const login_temp = "LotOriente",
    password_temp = "abc123",
    url_temp = "loteriaoriente.com.ve",
    DIS11 = window.btoa(login_temp),
    DIS12 = window.btoa(password_temp),
    DIS13 = window.btoa(url_temp);
  fetch(
    // `https://apidevsimpletv.casafortuna.net.ve/serviceDealer/ServicioDistribuidor.svc/ServicioDistribuidor/IniciarSesionSistema`,
    `https://apuestaoficial.com.ve/serviceDealer/ServicioDistribuidor.svc/ServicioDistribuidor/IniciarSesionSistema`,
    {
      method: "POST",
      body: JSON.stringify({
        DIS11: DIS11,
        DIS12: DIS12,
        DIS13: DIS13,
      }),
      headers: {
        "Content-type": "application/json",
      },
    }
  )
    .then((response) => response.json())
    .then((json) => {
      this.sesion_data = json;

      if (this.sesion_data) {
        if (
          this.sesion_data?.message?.code === "000" ||
          this.sesion_data?.Message?.code === "000"
        ) {
          localStorage.setItem('tokenSistema', this.sesion_data?.data?.DIS21);
        }
      }
    })
    .catch((error) => {
      console.log("error login", error);
    });
}

function detalleCarton() {
    this.Loading = true;

    const codNumFactura = localStorage.getItem("codNumFactura");
    const codNumSotero = localStorage.getItem("codNumSotero");
    const fechaSorteo = window.atob(localStorage.getItem("fechaSorteo"));
    const codDistribuidor = localStorage.getItem("codDistribuidor");
    const tokenSistema = localStorage.getItem('tokenSistema');

  // const apiGeneral ="https://apidevsimpletv.casafortuna.net.ve/serviceDealer/ServicioDistribuidor.svc/ServicioDistribuidor/";//QA
  // const apiGeneral ="http://192.168.200.226:8041/serviceDealer/ServicioDistribuidor.svc/ServicioDistribuidor/" //LOCAL
  const apiGeneral ="https://apuestaoficial.com.ve/serviceDealer/ServicioDistribuidor.svc/ServicioDistribuidor/";//PRODUCCION
  const url = `${apiGeneral}ConsultarDetalleCarton/MDY=/${codNumSotero}/${codNumFactura}/${fechaSorteo}/${codDistribuidor}`; 
  fetch(url, {
       headers: {
          'Content-Type': 'application/json',
          Authorization: 'Bearer ' + tokenSistema,
        },
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error('Network response was not ok'); // Lanzar error si la respuesta no es correcta
      }
      return response.json();
    })
    .then((json) => {
      //VARIABLES RESPUESTA DEL JSON
      /* 
      Name = "DCJ21" Devuelve o establece el nro de cedula del apostador.
      Name = "DCJ22" Devuelve o establece el codigo del sorteo.
      Name = "DCJ23" Devuelve o establece el codigo de autorizacion.
      Name = "DCJ24" Devuelve o establece el color del sorteo.

      Name = "DCJ25" Devuelve o establece el estatus de raspado del ticket completo.
      Name = "DCJ26" Devuelve o establece el estatus del ticket.
      Name = "DCJ27" Devuelve o establece el estatus de raspado super dupleta.
      Name = "DCJ28" Devuelve o establece el estatus de raspado par millonario.
      Name = "DCJ29" Devuelve o establece el estatus de raspado triple terminal.
      Name = "DCJ30" Devuelve o establece el estatus de raspado instantaneo.

      Name = "DCJ31" Devuelve o establece la fecha de la compra.
      Name = "DCJ32" Devuelve o establece la fecha del sorteo.
      Name = "DCJ33" Devuelve o establece el monto del carton.
      Name = "DCJ34" Devuelve o establece el numero de factura.
      Name = "DCJ35" Devuelve o establece el nombre del apostador.
      Name = "DCJ36" Devuelve o establece el número de pedido.
      Name = "DCJ37" Devuelve o establece la observación del ticket.
      
      Name = "DCJ38" Devuelve o establece el valor del triple par millonarioA.
      Name = "DCJ39" Devuelve o establece el valor del triple par millonarioB.
      Name = "DCJ40" Devuelve o establece serial del ticket.
      Name = "DCJ41" Devuelve o establece el valor del triple TerminalA.
      Name = "DCJ42" Devuelve o establece el valor del triple TerminalB.
      Name = "DCJ43" Devuelve o establece el valor del triple TerminalC.
      Name = "DCJ44" Devuelve o establece el valor del triple super dupleta 1.
      Name = "DCJ45" Devuelve o establece el valor del triple super dupleta 2.
      Name = "DCJ46" Devuelve o establece el valor del triple super dupleta 3.
      Name = "DCJ47" Devuelve o establece el valor del triple insantaneo.
      Name = "DCJ48" Devuelve o establece el valor del triple abierto.
      Name = "DCJ49" Devuelve o establece la url del sorteo.
      Name = "DCJ50" Devuelve o establece codigo operacion.
      */
      console.log('json',json)
      if(json.message.code === '000'){
        const the_data = {
        codigoSorteo: json.data.DCJ22,
        codigo: json.data.DCJ23,
        colorBorde: null,
        estatusInstantaneo: json.data.DCJ30,
        estatusParMil: json.data.DCJ28,
        estatusSuperDup: json.data.DCJ27,
        estatusTripleTer: json.data.DCJ29,
        fechaCompra: json.data.DCJ31,
        fechaSorteo: new Date(json.data.DCJ32 * 1000),
        instantaneo: json.data.DCJ47,
        montoCarton: json.data.DCJ33,
        numeroFactura: window.atob(json.data.DCJ34),
        parMillonarioA: json.data.DCJ38,
        parMillonarioB: json.data.DCJ39,
        serialTicket: window.atob(json.data.DCJ40),
        // superDupleta1: json.data.DCJ44,
        // superDupleta2: json.data.DCJ45,
        // superDupleta3: json.data.DCJ46,
        tripleAbierto: json.data.DCJ48,
        // tripleTerminalA: json.data.DCJ41,
        // tripleTerminalB: json.data.DCJ42,
        // tripleTerminalC: json.data.DCJ43,
        urlSorteo: json.data.DCJ49,
        nombreUsuario: json.data.DCJ35,
        cedulaUsuario: json.data.DCJ21,
        codigoOperacion: window.atob(json.data.DCJ50),
      };
      this.data_carton = the_data;
      this.cedula = window.atob(this.data_carton.cedulaUsuario);
      const ticket = this.getTicketData(this.data_carton);
      this.theTicketImg = ticket.image;
      this.theData = ticket.ticket;
      this.theImages = ticket.images;
      this.Loading = false;
      }else{
        const msg = json.message.description;
        this.fireToastMsg(msg);
      }
    })
    .catch(() => {
      this.Loading = false;
    })
    .finally(() => {
        this.Loading = false; // Asegurarse de que Loading se establezca en false al final
    });
}

// MOUNTED
async function mounted() {
  let self = this;
  self.loginSystem();
  setTimeout(() => {
    self.detalleCarton();
  }, 1000);
}

export default {
  name: "index",
  data,
  mixins: [General],
  components: {
    Header,
    Footer,
    scratchTicket,
  },
  watch: {},
  computed: {},
  validations() {},
  methods: {
    detalleCarton,
    loginSystem,
  },
  props: {
    actualizarTickets: Function,
  },
  destroyed() {},
  mounted,
};
</script>

<style lang="scss" scoped>
.datos-estilo{
  text-align: center;
  padding: 1rem;
}
</style>
