<template>
  <div class="c-footer">
    <!-- <h3>Triple | Gordo</h3> -->
    <div class="col-12 col-lg-4 centrado">
      <img
        class="w-logo"
        src="../assets/simpletv-logo.png"
        alt="SimpleTv-logo"
      />
    </div>
    <div class="col-12 col-lg-4">
      <h4 class="text-whaite">
        Todos los derechos reservados.
      </h4>
    </div>
    <div class="col-12 col-lg-4"><h6 class="text-whaite">Redes sociales</h6></div>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style scoped>
.c-footer {
  background-color: #fff;
  padding: 1rem;
  height: 100%;
  border-top: 3px solid #ff8300;
}
.w-logo {
  width: 80%;
}
.text-whaite{
  color: #000;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .w-logo{
    width: 60%;
  }
  .c-footer{
    justify-content: center;
  }
  .text-whaite{
    font-size: 1rem;
  }
  .centrado{
    text-align: center;
  }
}
</style>
