<template>
  <div class="c-header">
    <!-- <h3>Triple | Gordo</h3> -->
    <img
      class="w-logo"
      src="../assets/simpletv-logo.png"
      alt="SimpleTv-logo"
    />
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style scoped>
.c-header{
  background-color: #fff;
  border-bottom: 3px solid #ff8300;
  padding: 0.5rem;
}
.w-logo{
  width: 15%;
}
@media screen and (max-width: 992px) {
  .w-logo{
    width: 60%;
  }
  .c-header{
    justify-content: center;
  }
}
</style>
