<template>
  <div class="all-scratch-container mx-auto">
    <div class="card-principal" v-bind:style="{
      transform: transformStr
    }">
      <div v-if="appearThis()" class="non-scratchable-el w-100 h-100"></div>
      <img
          v-if="ticketImg"
          :src="ticketImg"
          alt="card"
          class="sizeCarton"
      />
      <template v-if="imageUrl.length && ticketData && ticketData.scratches && ticketData.scratches.length">
        <div 
            v-for="(itm, indx) in ticketData.scratches" :key="indx"
            :class="'card-triple-gordo n-'+(indx+1)"
            v-on:mousedown.left="mouseover(true, indx)"
            v-on:mouseenter="mouseover(true, indx)"
            v-on:touchstart="mouseover(true, indx, true)"
            v-on:mouseup="mouseover(false, indx)"
            v-on:mouseleave="mouseover(false, indx)"
            v-on:touchend="mouseover(false, indx, true)"
        >
            <component
              :is="typeComp"
              getPercentageCleared
              @percentage-update="updatePoints($event, indx)"
              :brushOptions="brush"
              :hideOptions="getHide(!imageUrl[indx])"
              :class="'custom-cursor ctg-scratch n-'+(indx+1)"
            >
              <div :class="'text-black grid-oriented n-'+(indx+1)">
                <template v-if="(indx + 1) === 1">
                  <div :class="'digts-container n-'+(indx+1)"><!-- <span class="first">TRIPLE A</span> --><h2>{{itm.pm11}}</h2><!-- <span class="second">{{itm.pm12}}</span> --></div>
                  <div :class="'digts-container n-'+(indx+1)"><!-- <span class="first">TRIPLE B</span> --><h2>{{itm.pm21}}</h2><!-- <span class="second">{{itm.pm22}}</span> --></div>
                </template>
                <!-- <template v-else-if="(indx + 1) === 2"> -->
                  <!-- <div :class="'digts-container n-'+(indx+1)"><span class="first">A</span><h2>{{itm.tt1}}</h2></div> -->
                  <!-- <div :class="'digts-container n-'+(indx+1)"><span class="first">B</span><h2>{{itm.tt2}}</h2></div> -->
                  <!-- <div :class="'digts-container n-'+(indx+1)"><span class="first">C</span><h2>{{itm.tt3}}</h2></div> -->
                <!-- </template> -->
                <!-- <template v-else-if="(indx + 1) === 3"> -->
                  <!-- <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.sd11}}</h2><h2>{{itm.sd12}}</h2></div> -->
                  <!-- <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.sd21}}</h2><h2>{{itm.sd22}}</h2></div> -->
                  <!-- <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.sd31}}</h2><h2>{{itm.sd32}}</h2></div> -->
                <!-- </template> -->
                <template v-else>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i11}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i12}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i13}}</h2></div>
                  <!-- . -->
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i21}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i22}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i23}}</h2></div>
                  <!-- . -->
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i31}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i32}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i33}}</h2></div>
                </template>
              </div>
            </component>
        </div>
      </template>
      <div v-if="ticketData && ticketData.code && ticketData.code.length" class="ticket-code-highlight">
        <h2 v-for="(code, inxd) in ticketData.code" :key="inxd">{{code}}</h2>
      </div>
      <div v-if="ticketData && ticketData.serialTicket && ticketData.serialTicket.length" class="ticket-serial-highlight">
        <h6 v-for="(serialTicket, inxd) in ticketData.serialTicket" :key="inxd">{{serialTicket}}</h6>
      </div>
      <div v-if="ticketData && ticketData.codOperacion && ticketData.codOperacion.length" class="ticket-ope-highlight">
        <h2 v-for="(codOperacion, inxd) in ticketData.codOperacion" :key="inxd">{{codOperacion}}</h2>
      </div>
      <div v-if="ticketData && ticketData.fechaSort && ticketData.fechaSort.length" class="ticket-fecha-highlight">
        <h6 v-if="ticketData.fechaSort">RASPA Y CONSULTA LOS RESULTADOS DEL PAR MILLONARIO</br>
          DEL SORTEO {{ticketData.numeroSorteo}} DEL DIA {{ticketData.fechaSort}}</h6>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import General from "@/_mixins/general";
import ControlSession from "@/_mixins/controlsession";
var audio = new Audio(require("@/assets/scratch.wav"));

function data() {
  return {
    borderColor: '', //#15181d
    theMax: 4,
    transformStr: 'translateY(0.1rem) scale(1)',
    sliderRange: 1,
    timerOut: null,
    images: [null, /* null, null, */ null], // replace canvas fill color with img
    playing: 0, // current scratch item index, tells which one is playing the audio
    touchedPos: null, // current touched scratch item
    isKeyUp: false, // indicates if mouse left key is Up
    percentage: [[0,0], /* [0,0], [0,0], */ [0,0]], // scratch items array indicating Scratched percentage and Scratch complete
    brush: {
      size: 20,
      shape: "bevel",
    },
    cardWidth: [279, /* 103.8, 195.7, */ 163.5],
    cardHeight: [49, /* 29.5, 40, */ 117],
    finishPercent: 88,
    requesting: [false, /* false, false, */ false],
    ticketsCode: ['EST04', /*'EST01' , 'EST02',*/ 'EST03'],
  };
}

function onResize() {
  // Verificar el ancho de la ventana
  if (window.innerWidth <= 360) {
    // Actualizar el ancho de la tarjeta si el ancho de la ventana es menor o igual a 576px
    this.cardWidth = [213, /* 103.8, 195.7, */ 125];
  } else if (window.innerWidth > 361 && window.innerWidth <= 393) {
    // Si no, puedes volver a establecer el valor original o dejarlo como está
    this.cardWidth = [215, /* 103.8, 195.7, */ 135];
  }else {
    // Si no, puedes volver a establecer el valor original o dejarlo como está
    this.cardWidth = [279, /* 103.8, 195.7, */ 163.5];
  }
}

// METHODS
function getHide(isTransparent = false) {
  const self = this;
  return {
      type: "color",
      value: isTransparent ? `${self.borderColor}00` : self.borderColor,
    };
}

function getWH() {
  const translateY = this.appearThis(true);
  const evaluator = 'translateY(0.1rem) scale(1)';
  const obj = {
    width: this.transformStr === evaluator ? '28rem' : `${18 + translateY}rem`,
    height: this.transformStr === evaluator ? '32rem' : `${32 + translateY}rem`
  };
  return obj 
}

function appearThis(getNums = false, control = false) {
  if (control) {
    const theresImg = this.images.some(img => img);
    if (!theresImg) return false;
  }

  const theTransformation = this.transformStr;
  let [translateY, scale] = theTransformation.split(' ');
  const getNum = (str, rplc, n) => +(str.replace(rplc, '').slice(0, -n));
  translateY = getNum(translateY, 'translateY(', 4);
  scale = getNum(scale, 'scale(', 1);
  if (!getNums) {
    const shouldDo = translateY > 2.69 && scale > 1.18;
    return shouldDo;
  }
  else return translateY
}

function setTransformStr (num) {
  const num_len = `${num}`.length;
  const num_tot = num_len > 1 ? +`1${Array(num_len - 1).fill(0).join('')}` : 1;
  const num_ = num / num_tot;
  const n_ = (max, min, n) => (((((max - 1) * 100) / (1.99 - 1)) * n) / 100) + min;
  const transformation = num_ > 1.99 ? `translateY(${14 * (num_ - 1)}rem) scale(${num_})` : `translateY(${n_(num_, 0.1, (14 - 0.1))}rem) scale(${n_(num_, 1, (2 - 1))})`;
  this.transformStr = transformation;
}

// this method loads images to replace default scratch canvas fill color
function loadImages(list){
  let self = this;
  const imager = (i, img) => {
    const canvContainer = document.querySelector(`.ctg-scratch.n-${i+1}`);
    if (canvContainer) {
        const child = canvContainer.querySelector(`canvas`);
        if (child) {
            const ctx = child.getContext("2d");
            ctx.drawImage(img, 0, 0, self.cardWidth[i], self.cardHeight[i]);
            self.images[i] = img;
        }
    }
  };
  for(let i = 0; i < list.length; i++){
      if (!self.images[i]) {
        if (list[i]) {
          const img = new Image();
          img.onload = function(){
              imager(i, img);
          }; 
          img.src = list[i];
        }           
      } else imager(i, self.images[i]);
  }
}

function playAudio (on) {
  if (on) {
    audio.loop = true;
    audio.volume = 0.5;
    audio.play();
  } else {
    audio.loop = false;
    audio.pause();
    audio.currentTime = 0;
  }
}

// controls mouse and touch interactions with scratchable items
/**
 * @param {boolean} control indicates if can play audio
 * @param {int} indx indicates scratchable item position
 * @param {boolean} mobile indicates if it's a touch event
 */
function mouseover(control = false, indx, mobile = false) {
  if (
      this.imageUrl[indx] &&
      this.isKeyUp &&
      (this.playing === (indx + 1) || !this.playing) && 
      control && 
      this.percentage[indx][0] < (this.finishPercent + 9)
  ) {
      this.playing = (indx + 1);
      if (mobile) {
        const theScratch = document.querySelector(`.ctg-scratch.n-${indx+1}`);
        if (theScratch) this.touchedPos = theScratch.getBoundingClientRect();
      }
      this.playAudio(true);
  } else if (!audio.paused) {
      if (!this.isKeyUp) {
        this.playing = 0;
        if (mobile) this.touchedPos = null;
      }
      this.playAudio(false);
  }
}

const axiosRequest =  ({self = null, method, url, data = null, handleError = false, headers = null, indice}) => {
    try {
        const resp =  axios({
            method,
            url,
            ...( data ? { data } : {}),
            ...( headers ? { headers } : {}),
          });
        return resp;
    } catch (err) {
        console.error(err);
        self.requesting[indice] = false;
        if (handleError) {
          const msg = err?.response?.data?.message?.description || err?.responseJSON?.message?.description || err?.responseJSON?.mensaje?.description || err?.response?.statusText || '';
          if (msg) self.fireToastMsg(msg);
          else self.globalError(true);
          if (err.response?.data?.message?.code === "008") self.clearSession();
        }
        return  false;
    }
};

// shows winner alert when scratch complete
function updatePoints(percentage, indx) {
  this.percentage[indx][0] = percentage;
  this.percentage = [...this.percentage];
  if (
    !this.requesting[indx] && 
    this.imageUrl[indx] && 
    !this.percentage[indx][1] && 
    this.percentage[indx][0] >= this.finishPercent
  ) {
    clearTimeout(this.timerOut);
    const tokenSesion = localStorage.getItem("tokenSistema");
    const codNumFactura = localStorage.getItem("codNumFactura");
    const codNumSotero = localStorage.getItem("codNumSotero");
    const codDistribuidor = localStorage.getItem("codDistribuidor");

    this.requesting[indx] = true;
  
    let self = this;
    this.timerOut = setTimeout(async () => {
      const response = await axiosRequest({
        self: self,
        method: 'put', 
        // url: 'https://apidevsimpletv.casafortuna.net.ve/serviceDealer/ServicioDistribuidor.svc/ServicioDistribuidor/' + 'ActualizarRaspado', 
        url: 'https://apuestaoficial.com.ve/serviceDealer/ServicioDistribuidor.svc/ServicioDistribuidor/' + 'ActualizarRaspado', 
        data: {
          DCJ11: codDistribuidor,
          DCJ12:"MDY=",
          DCJ13: codNumFactura,
          DCJ14: window.btoa(self.ticketsCode[indx]),
          DCJ15: codNumSotero
        },
        handleError: false,
        headers: {
          Authorization: "Bearer " + tokenSesion,
        },
        indice: indx,
      });
      if (response) {
        self.percentage[indx][1] = 1;
        self.percentage = [...self.percentage];
        self.requesting[indx] = false;
console.log("responseXXX",response)
        if (response?.data?.message?.code === "127") {
            self.$swal.fire({
              title: '¡Felicidades!',
              html: `<p>${response.data.message.description}</p>`,
              width: 600,
              padding: "0em",
              background: "#fff0",
              backdrop: `                  
                  url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXQxZjBoY2NyZXZ1a2NubG8ya2x5YTkxYXFxYmV1dXBqMng4ODAwMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/65AQXIkzfxzlnoc7AS/giphy.gif")
                  center / cover
                  no-repeat
                  rgba(248,167,45, 0.8)
              `,
              customClass: {
                title: 'winner-alert-title',
                htmlContainer: 'winner-alert-html',
                confirmButton: 'btn btn-primary winner-alert-btn',
              }
            });
        }else if(response?.data?.message?.code === "027"){
          self.$swal.fire({
              html: `<p>${response.data.message.description}</p>`,
              width: 600,
              padding: "0em",
              background: "#fff0",
              backdrop: `
                  center / cover
                  no-repeat
                  rgba(248,167,45, 0.8)
              `,
              customClass: {
                title: 'winner-alert-title',
                htmlContainer: 'winner-alert-html',
                confirmButton: 'btn btn-primary winner-alert-btn',
              }
            });
        }else if(response?.data?.message?.code === "128"){
          self.$swal.fire({
              html: `<p>${response.data.message.description}</p>`,
              width: 600,
              padding: "0em",
              background: "#fff0",
              backdrop: `
                  center / cover
                  no-repeat
                  rgba(248,167,45, 0.8)
              `,
              customClass: {
                title: 'winner-alert-title',
                htmlContainer: 'winner-alert-html',
                confirmButton: 'btn btn-primary winner-alert-btn',
              }
            });
        }
      }else{ 
        audio.pause();
        const msg = "Sesión no activa. Inicie nuevamente."
        self.fireToastMsg(msg, "error");
        // this.sessionLogout();
      }  
    }, 1500);
    
    this.mouseover(false, indx);
  }
}

// MOUNTED
function beforeUpdate() {
  const self = this;
  if (self.ticketData?.borderColor) self.borderColor = self.ticketData.borderColor;
  $(document).ready(function(){
    self.loadImages(self.imageUrl);

    // adds event listeners
      $('.ctg-scratch').on("mousedown touchstart", function () {
          if (self.isKeyUp !== undefined) self.isKeyUp = true;
      });

      // if mouse left key is up none scratchable item is playing the audio
      $('body, .ctg-scratch').on("mouseup touchend", function () {
          if (self.isKeyUp !== undefined) {
              self.isKeyUp = false;
              self.playing = 0;
          }
      });

      // when mobile it captures if touch position is over current on-scratching scratchable item to play or stop the audio
      $('body').on("touchmove", function (e) {
          const touch = e?.originalEvent?.touches[0] || e?.originalEvent?.changedTouches[0];
          const x = touch.pageX, y = touch.pageY;
          if (self.touchedPos) {
            if ( 
              x >= self.touchedPos?.left && 
              x <= self.touchedPos?.right && 
              y >= self.touchedPos?.top && 
              y <= self.touchedPos?.bottom 
            )
              self.playAudio(true); 
            else 
              self.playAudio(false);
          }
      });

      // resets images on canvas to refill them, due to problem when resizing screen
      $(window).on('resize', function () {
          setTimeout(() => self.loadImages(self.imageUrl),1000);
      });
  });
}

export default {
  name: "scratch-ticket",
  mixins: [ControlSession,General],
  data,
  props: {
    ticketImg: [String, Object],
    ticketData: Object, // scratchable items object data
    imageUrl: Array, // images to replace default scratchable canvas fill color
    actualizarPadre: Function,
    activarbtn: Function,
    typeComp: {
      type: String,
      default: 'vue-scratchable',
    },
    showZoom: {
      type: Boolean,
      default: true,
    }
  },
  methods: {
    getHide,
    playAudio,
    mouseover,
    updatePoints,
    loadImages,
    setTransformStr,
    appearThis,
    getWH,
    onResize
  },
  watch: {
    sliderRange(val) {
      this.setTransformStr(val);
    },
    percentage(val){
      // const verificar = val.every(arr => arr[1] === 1);
      // if (verificar) this.activarbtn();
    },
    imageUrl: function(){
      this.loadImages(this.imageUrl)
    },
  },
  mounted() {
    // Agregar el listener cuando el componente se monta
    window.addEventListener('resize', this.onResize);
    this.onResize();
  },
  destroyed() {
    // removes event listeners
    $('body, .ctg-scratch').off();
    $(window).off();
    window.removeEventListener('resize', this.onResize);
  },
  beforeUpdate,
};
</script>

<style lang="scss" scoped>
.card-principal {
  margin-block: 1rem;
  margin-inline: auto !important;
  position: relative !important;
  width: 27rem;
  transition: all .5s;
}

.ticket-code-highlight{
  position: absolute;
  bottom: 13.5rem;
  right: 2.2rem;
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  width: 4rem;

  h2 {
    color: $color-blue-black;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
  }
}
.ticket-serial-highlight{
  position: absolute;
  bottom: 11.2rem;
  right: 0.9rem;
  display: grid;
  grid-template-columns: repeat(12, 8.333%);
  width: 6.6rem;

  h6 {
    color: $color-blue-black;
    // font-size: 1rem;
    // font-weight: 800;
    margin-top: 0;
  }
}
.ticket-ope-highlight{
  position: absolute;
  bottom: 2.7rem;
  right: 12.4rem;
  display: grid;
  grid-template-columns: repeat(8, 12.555%);
  width: 11rem;

  h2 {
    color: $color-blue-black;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 0;
  }
}
.ticket-fecha-highlight{
  position: absolute;
  bottom: 24.8rem;
  right: 3.5rem;
  display: flex;

  h6 {
    color: $color-blue-black;
    font-size: 0.6rem;
    margin-top: 0;
    font-weight: 900;
  }
}
.card-triple-gordo {
  position: absolute;

  &.n-1 {
    top: 143px;
    left: 101px;
    width: 280px;
    height: 48px;
  }

  // &.n-2 {
  //   top: 185px;
  //   right: 8px;
  //   width: 103.8px;
  //   height: 29.5px;
  // }

  // &.n-3 {
  //   bottom: 222px;
  //   width: 195.7px;
  //   height: 42px;
  //   left: 62.4px;
  // }

  &.n-2 {
    bottom: 166.7px;
    right: 133.5px;
    width: 163.5px;
    height: 117px;
  }

  .custom-cursor {
    cursor : url('~@/assets/pathmonedatg.png') 7 7, pointer;
  }

  .ctg-scratch {
    border-radius: 3px;
    overflow: hidden;
    height: 100%;
    border-radius: 20px;

    // &.n-3 {
    //   border-radius: 13px;
    // }

    &.n-2 {
      border-radius: 4px;
    }

    .grid-oriented {
        display: grid;
        grid-template-columns: repeat(3, 33.333%);
        height: 100%;
        align-items: center;
        cursor: auto;
        border-radius: 20px;

        &.n-1 {
          grid-template-columns: repeat(2, calc(50% - 13px));
          column-gap: 26px;
        }

        // &.n-2 {
          // padding-left: 2px;
          // padding-bottom: 0.3rem;
        // }

        // &.n-3 {
        //   border-radius: 13px;
        //   grid-template-columns: repeat(3, calc(33% - 14px));
        //   column-gap: 22px;
        // }

        &.n-2 {
          height: auto;
          padding-inline: 1rem;
          padding-top: 0.6rem;
          padding-bottom: 0rem;
          grid-auto-rows: 2.1rem;
          align-items: unset;
          border-radius: 4px;
        }

        .digts-container {
          line-height: 0;

          span.first {
            font-size: 0.4rem;
            font-weight: 700;
          }
          span.second {
            font-size: 0.33rem;
            font-weight: 600;
            line-height: 0.3rem;
          }

          h2 {
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
            font-size: 1.25rem;
            font-weight: 800;
            letter-spacing: 0.25rem;
            line-height: 1.1rem;
            color: $color-blue-black;
          }

          // &.n-2 {
          //   span.first {
          //     font-size: 0.55rem;
          //   }

          //   h2 {
          //     margin-top: 0.3rem;
          //     letter-spacing: 0rem;
          //     font-weight: 700;
          //   }
          // }

          // &.n-3 {
          //   h2 {
          //     font-size: 1.05rem;
          //     font-weight: 700;
          //     letter-spacing: 0rem;
          //     line-height: 0.9rem;
          //   }
          // }

          &.n-2 {
            &:not(:nth-child(3n)) {
              border-right: 1px solid #000;
            }
            &:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3)) {
              border-bottom: 1px solid #000;
            }

            h2 {
              margin-top: 0.5rem;
              margin-bottom: 0;
              font-size: 1.2rem;
              font-weight: 700;
              letter-spacing: unset;
              line-height: 1rem;
            }
          }
        }
    }
  }
}

.img-triple-gordo {
  position: relative;
  width: 18rem;
}

$slide-container-width-sm: calc(12rem + 16vw);
$slide-container-width-md: calc(12rem + 12%);
.slidecontainer {
  width: $slide-container-width-sm;
  background: rgba(255, 255, 255, 0.72);
  padding-block: 0.5rem;
  margin-inline: auto;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  // top: 13rem !important;
  left: calc(50% - (#{$slide-container-width-sm} / 2));
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 0.5rem;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: $slide-container-width-md;
    left: calc(50% - (#{$slide-container-width-md} / 2));
  }
  @media screen and (min-width: 1440px) {
    top: 10rem;
  }

  span {
    color: #7c7c7c;

    &.warning-span {
      grid-column: span 2;
      font-size: smaller;
      color: #588df3;
    }
  }

  input {
    display: inline-block;
  }
}

.slider {
  -webkit-appearance: none;
  width: 12rem;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $color-secundario;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $color-secundario;
  cursor: pointer;
}

.non-scratchable-el {
  position: absolute;
  z-index: 1;
}
</style>

<style lang="scss">
.winner-alert-title,
.winner-alert-html {
  text-shadow: 1px 1px 6px rgb(0, 0, 0);

  &.winner-alert-title {
    color: #fff !important;
    font-size: 13vw !important;

    @media only screen and (orientation: portrait) and (min-width: 601px) {
      font-size: 8vw !important;

      @media only screen and (min-width: 792px) {
        font-size: 6vw !important;
      }
    }
    @media only screen and (orientation: landscape) {
      font-size: 5vw !important;
      
      @media only screen and (min-width: 2350px) {
        font-size: 3vw !important;
      }
    }
  }

  &.winner-alert-html p {
    color: $color-pollito !important;
    font-size: 9vw !important;
    font-weight: bold !important;

    @media only screen and (orientation: portrait) and (min-width: 601px) {
      font-size: 6vw !important;

      @media only screen and (min-width: 792px) {
        font-size: 5vw !important;
      }
    }
    @media only screen and (orientation: landscape) {
      font-size: 5vw !important;

      @media only screen and (min-width: 2350px) {
        font-size: 2vw !important;
      }
    }
  }
}

.winner-alert-btn {
  padding-inline: 3rem;
  background: #ff8300 !important;
  border: 1px solid #fff !important;

  &:focus {
    box-shadow: none !important;
  }
}

.invisible {
  visibility: hidden;
}

.sizeCarton{
  height: 626px;
  width: 430px;
}

@media only screen and (max-width: 360px) {
  .sizeCarton{
    height: 626px;
    width: 330px;
  }
  .card-triple-gordo {
    &.n-1 {
      top: 142px !important;
      left: 77px !important;
      width: 214px !important;
      height: 49px !important;
    }
    &.n-2 {
      bottom: 166.7px !important;
      right: 91px !important;
      width: 125px !important;
      height: 117px !important;
    }
  }
  
  .ticket-serial-highlight{
    right: 0rem !important;
    width: 5rem !important;
  }
  .ticket-code-highlight{
    right: 0.5rem !important;
  }
  .ticket-ope-highlight{
   right: 9rem !important;
   width: 8.5rem !important;
  }
  .card-principal {
    width: auto !important;
  }
  .ticket-fecha-highlight {
    right: 1.5rem !important;
  }
}
@media only screen and (min-width: 361px) and (max-width: 393px) {
  .sizeCarton{
    height: 626px;
    width: 340px;
  }
  .card-triple-gordo {
    &.n-1 {
      top: 142px !important;
      left: 87px !important;
      width: 220px !important;
      height: 49px !important;
    }
    &.n-2 {
      bottom: 166.7px !important;
      right: 115px !important;
      width: 125px !important;
      height: 117px !important;
    }
  }
  
  .ticket-serial-highlight{
    right: 1.2rem !important;
    width: 5rem !important;
  }
  .ticket-code-highlight{
    right: 1.5rem !important;
  }
  .ticket-ope-highlight{
   right: 10.1rem !important;
   width: 8.5rem !important;
  }
  .card-principal {
    width: auto !important;
  }
  .ticket-fecha-highlight {
    right: 1.5rem !important;
  }
}

</style>