<template>
  <Ticket />
</template>

<script>
import Ticket from '../src/views/compra/index.vue'
export default {
  name: 'App',
    components: {
      Ticket
  }
}
</script>

<style lang="scss">
  // Import Main styles for this application
  @import 'assets/scss/style';
</style>
